.footer
  +spacing
  pointer-events: none
  width: 100%

  @media (min-width: $smallDesktop)
    bottom: 0
    left: 0
    position: fixed

  &__container
    &-inner
      align-items: flex-end
      display: flex
      justify-content: space-between

      @media (min-width: $smallDesktop)
        width: 50%

  &__column
    flex: 0 0 50%
    pointer-events: all
    width: 50%

    @media (min-width: $tablet)
      flex-basis: auto
      width: auto

  &__links
    &-list
      list-style: none
      margin: 0
      text-align: right

  &__link
    font-weight: 500
    position: relative
    text-decoration: none
    text-transform: uppercase

    &-image
      bottom: calc(100% + 1em)
      opacity: 0
      pointer-events: none
      position: absolute !important
      right: 0
      transition: opacity $transitionDuration $transitionTimingFunction
      width: 9.571428571428571em

    &:hover
      .footer__link-image
        opacity: 1
        pointer-events: all
