.footer
  padding: 3.4375em 0
  pointer-events: none
  width: 100%

  @media (min-width: $smallDesktop)
    position: fixed
    bottom: 0
    left: 0

  &__container
    &-inner
      align-items: flex-end
      display: flex
      justify-content: space-between

      @media (min-width: $smallDesktop)
        width: 50%

  &__column
    pointer-events: all

  &__links
    &-list
      list-style: none
      margin: 0
      text-align: right

  &__link
    font-weight: 500
    position: relative
    text-decoration: none
    text-transform: uppercase

    &-image
      bottom: calc(100% + 1em)
      opacity: 0
      pointer-events: none
      position: absolute !important
      transition: opacity $transitionDuration $transitionTimingFunction
      width: 100%

    &:hover
      .footer__link-image
        opacity: 1
        pointer-events: all
