.header
  padding: 3.4375em 0
  position: fixed
  top: 0
  width: 100%

  &__container
    &-inner
      align-items: flex-start
      display: flex
      justify-content: space-between

      @media (min-width: $smallDesktop)
        width: 50%

  &__title
    span
      display: block

      &:nth-of-type(1)
        margin-bottom: .192307692307692em
