.video-toggle
  display: none
  font-size: 1em
  font-weight: 500
  line-height: 1em
  pointer-events: none
  text-transform: uppercase

  .page--home &
    display: block

  span
    transition: opacity $transitionDuration $transitionTimingFunction

    &[aria-hidden="true"]
      opacity: .2
      pointer-events: all

    &:first-of-type
      margin-right: 1.5em
