.homepage-banner
  align-items: stretch
  display: flex
  min-height: 100vh

  @media (min-width: $smallDesktop)
    +spacing

  &__container
    flex-wrap: wrap

    @media (min-width: $smallDesktop)
      align-items: stretch
      flex-wrap: nowrap

  &__column
    flex: 0 0 100%

    @media (min-width: $smallDesktop)
      flex-basis: 50%

    &--left
      align-items: center

      @media (min-width: $smallDesktop)
        display: flex

    &--right
      @media (max-width: $maxSmallDesktop)
        order: -1

      @media (min-width: $smallDesktop)
        flex-basis: calc(50% - 2em)
        margin-left: 2em

  &__content
    @media (max-width: $maxSmallDesktop)
      margin-top: 2em

    @media (min-width: $smallDesktop)
      display: flex
      flex: 0 0 100%
      justify-content: space-between

  &__about,
  &__work
    &-title
      font-size: 1em
      margin-bottom: .25em

    @media (max-width: $maxSmallDesktop)
      &:not(:last-child)
        margin-bottom: 2em

  &__about
    &-content
      max-width: 24em

  &__work
    @media (min-width: $smallDesktop)
      text-align: right

    &-content
      white-space: pre-wrap

  .video
    background: #959983
    border-radius: .625em
    height: 100%
    overflow: hidden
    width: 100%
    -webkit-mask-image: -webkit-radial-gradient(white, black)

    &__wrapper
      height: 0
      padding-bottom: 129.4688524590164%
      position: relative
      width: 100%

      @media (min-width: $smallDesktop)
        height: 100%
        padding-bottom: 0

    &__player
      +cover

      video
        object-fit: cover
